body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

article {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: auto;
    word-spacing: 2px;
}

p {
    margin-bottom: 40px; 
}

h2 {
    color: #35424a;
}

#nextSlide {
    background-color: #4CAF50; /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    padding: 10px 20px; /* Jarak dalam tombol */
    border: none; /* Menghilangkan border */
    border-radius: 5px; /* Sudut membulat */
    cursor: pointer; /* Menunjukkan bahwa ini adalah elemen yang dapat diklik */
    font-size: 16px; /* Ukuran font */
}

#nextSlide:hover {
    background-color: #45a049; /* Warna latar belakang saat hover */
}

#backToHome {
    background-color: #4CAF50; /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    padding: 10px 20px; /* Jarak dalam tombol */
    border: none; /* Menghilangkan border */
    border-radius: 5px; /* Sudut membulat */
    cursor: pointer; /* Menunjukkan bahwa ini adalah elemen yang dapat diklik */
    font-size: 16px; /* Ukuran font */
}


#backToHome:hover {
    background-color: #45a049; /* Darker green background on hover */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}